In [1]:
import pandas as pd

In [6]:
html = 'data/filmes_wikipedia.html'

In [18]:
dados = pd.read_html(html)
type(dados)

list

In [17]:
top_filmes = dados[1]

In [16]:
top_filmes

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

Deu tudo certo! Temos o dataframe exatamente como apresentado no Wikipedia, contendo as colunas de nome do filme, ano de lançamento, diretor, produtora e posição no ranking.

Fizemos a leitura de um dado em HTML. E agora, como conseguimos escrever em HTML?

In [19]:
top_filmes.to_html('data/top_filmes.html')

Vamos salvar esse mesmo top_filmes no formato CSV. Para isso voltamos ao Colab e, numa nova célula, vamos digitar top_filmes e usar a função to_csv(). Entre os parênteses, passamos o nome do arquivo entre aspas simples, como 'top_filmes_1998.csv'.

Também precisamos passar o index=False quando salvamos um arquivo no formato CSV ou Excel, para evitar que uma nova coluna de index seja adicionada ao dataframe. Então:

In [ ]:
top_filmes.to_csv('data/top_filmes_1998.csv', index=False)

In [21]:
pd.read_csv('data/top_filmes_1998.csv')

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

In [22]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Data,Estimativa Oficial
0,NaN,1,Índia,1 429 921 746,+269.108.746,2023,Estimativa oficial
1,NaN,2,China,1 426 391 281,+87.778.313,2023,Censo oficial
2,NaN,3,Estados Unidos,339 987 103,+31.241.565,2023,Censo oficial
3,NaN,4,Indonésia,277 184 719,+33.168.546,2023,Estimativa oficial
4,NaN,5,Paquistão,240 215 932,+65.636.932,2023,Estimativa oficial
...,...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),806,NaN,2021,Estimativa oficial[10]
246,NaN,195,Vaticano,801,NaN,2020,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),573,NaN,2020,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),241,NaN,2022,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),63,NaN,2023,Estimativa oficial